<style>
h1{
    color:rgb(46, 11, 11);
    text-align:center;
    font-size: 70px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(5,25,62,0.6530987394957983) 100%);
}

.info{
    color:rgb(77, 6, 12);
    font-size: 30px;
    margin-left: 5%;
}


form{
    padding-top: 30px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(5,25,62,0.6530987394957983) 100%);
    display: block;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    position:absolute;
   left:650px;
  bottom: 30px;
}

</style>